html
  head

    style.
      table.GeneratedTable {
      width: 100%;
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      color: #000000;
      }
      table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      padding: 3px;
      }
      table.GeneratedTable thead {
      background-color: #ffcc00;
      }
  body
    table.GeneratedTable
      thead
        tr
          th First Name
          th Last Name
          th City
          th Email
          th Password
      tbody
        tr
          td rec1.firstName
          td rec1.lastName
          td rec1.city
          td rec1.email
          td rec1.password
    // Codes by Quackit.com